html{
    font-family: "Times New Roman",serif, sans-serif;

}
body {
   /* background-image: url(gris.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;*/
    background-color: #444;
    text-align: center;
}



h1, h2, h3 {
    color: #ffffff;
    line-height: 1rem;
    font-style: italic;
}

h2{
    font-size: 30px;
    font-style: normal;
}
.formatting{
    font-size: 25px;
    line-height: 2em;
    color: white;
}
a{
    text-decoration: none ;
    font-size: 25px;
    color: red;
    letter-spacing: 10px;
    text-transform: uppercase;

}

.border{
    border: 2px dashed white;
}

ul li{
    color: #ffffff;
    font-size: 28px;
}
ul > li {
    color: yellowgreen;
}